<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Op - Accueil{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block banner %}
        <div id="banniere" class="container-fluid">

        </div>
        {% endblock %}
        {% block header %}
            {{ render(controller('App\\Controller\\Webapp\\PageController::listmenu')) }}
        {% endblock %}
        <main>
        {% block body %}
        {% endblock %}
        </main>



        {% block footer %}
        <div class="container-fluid" id="op_footer">
            <div class="row" id="op_footer1">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3">
                    <h6>FRANCAS DES LANDES</h6>
                    <p>3, Allées de la solidarité<br/>
                    40000 MONT DE MARSAN</p>
                    <p>Tel : 05 58 46 33 54</p>
                </div>
            </div>
            <div class="row" id="op_footer2">
                <div class="col-6">
                    <p>&copy; Collégiens-Citoyens 2020 - Site réalisé par <a href="https://www.openpixl.fr">OpenPixl</a></p>
                </div>
                <div class="col-6">
                    <p class="float-right"><a href="">Mentions légales</a> | <a href="">contacts</a> | <a href="{{ path('op_webapp_app_espcoll') }}">Espace collèges</a></p>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
