{% extends 'admin.html.twig' %}

{% block title %}Op - Admin{% endblock %}

{% block body %}
    <div id="Admin">
        <nav></nav>
        <main class="container-fluid">
            <h1>Administration</h1>
        </main>
        <footer></footer>
    </div>
{% endblock %}
