$aside-width : 4rem;
$aside-large : 12rem;

body {
  overflow-x: hidden;
}


/********
* REGLES DE L'ASIDE
********/

.aside-closed {
  height: 100%; /* 100% Full-height */
  width: $aside-width; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #f1f1f1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.aside-open {
  height: 100%; /* 100% Full-height */
  width: $aside-large; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #f1f1f1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.arrowLeft{
  transition: 0.5s;
}
.arrowDown{
  transition: 0.5s;
}

/*** Zone Logo ***/

#aside .navbar-brand {
  display: inline-block;
  padding-top: 0.33594rem;
  padding-bottom: 0.33594rem;
  margin-right: .8rem;
  line-height: inherit;
  white-space: nowrap;
}

/*** Zone Profil Utilisateur ***/


/*** Zone Liste Menu ***/

#aside-list{
  padding-top: 6rem;
}

#aside-list a{
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s
}
#aside-list .title{
  text-transform: uppercase;
}

#aside-list ul{
  list-style:none;
  padding-left: 0rem;
}
#aside-list ul > li {
  list-style:none;
  padding-left: 1.4rem;
  height: 2rem;
}
#aside-list p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5rem;
}

#aside-list > nav > ul > li > a{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/********
* REGLES DU MAIN
********/

.main {
  transition: 0.5s;
  overflow:hidden;
  position: fixed; /* Stay in place */
  left: $aside-width;
  width: calc(100% - #{$aside-width});
}

.main-large {
  transition: 0.5s;
  overflow:hidden;
  position: fixed; /* Stay in place */
  left: $aside-large;
  width: calc(100% - #{$aside-large});
}

/********
* REGLES PAGES UPDATE
********/

#op_zone_update{
  background-color: #f1f1f1;
  padding: 1rem;
}




.btn-xs, .btn-group-xs > .btn {
  padding: 0.15rem 0.4rem;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 0.2rem;
}