{% extends 'first.html.twig' %}

{% block title %}Op_FirstInstallation{% endblock %}

{% block body %}
<div id="First">
    <div class="col-12">
        <h3>Premier démarrage de l'application</h3>
    </div>
</div>
{% endblock %}
